/* Customize Background Color */
body {
    background-color: #AAABB8;
    min-height: 100vh-;
  }
  /* Header Custimization */
  .h-text { /* Header Text */
    font-family:'Orbitron', sans-serif;
    font-size: 100px;
    text-align: center;
    color: darkblue;
    text-decoration: none;
  }
  .h-text:hover {
    color: blue;
    text-decoration: none;
  }
  
  .h-background { /* Header Background */
    background-image: url(https://laxcartman.github.io/images/header-background.jpg);
    height: 125px;
    
  
  }
  /* Navigation Custimization */
  .nav-ul {  /* Navigation UL */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkblue;
    font-family: 'Courier New';
  }
  
  .nav-li {  /* Navigation LI */
    float: left;
  }
  
  .nav-li a, .dropbtn {  /* Navigation LI Active, Drop Button */
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav-li a:hover, .dropdown:hover .dropbtn {  /* Navigation LI :Hover, Dropdown:hover, Drop Button*/
    background-color: blue;
  }
  
  .nav-li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* Footer Custimizaton */
  .f-text {
    text-decoration: none;
    font-family: 'Courier New';
    color: white;
    background-color: darkblue;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    text-align: center;
  }
  
  .f-text a {
    color: white;
    text-decoration: none;
    padding: 0px 16px; 
    text-align: center;
  }
  .f-text a:hover {
    background-color: blue;
  }
  /* Stream Alert */ 
  .alert {
    padding: 10px;
    background-color: #6441a5;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
  /* Image Custimation */
  .images {
    width: 350px;
  }
  .images-1 {
    width: 473px;
  }
  .images-2 {
    width: 240px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
    margin: 10px;
    text-align: center;
    font-family: arial;
    float: left;
  }
  
  .card-1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 1920px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-family: arial;
    float: left;
  }
  .card-2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 1920px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-family: arial;
    float: left;
  }
  .card-3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 1920px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-family: arial;
    float: left;
  }
  